body{
  margin:0;
  background:black;
  color:white;
  font-family:Poppins,sans-serif;
  text-align:center;
}

h1{
  font-family:'Great Vibes',cursive;
  font-size:70px;
  color:#ff3b3b;
  margin-top:20px;
}

.box input,select{
  padding:12px;
  margin:10px;
  border-radius:30px;
  border:none;
  width:220px;
  text-align:center;
}

button{
  padding:12px 35px;
  border:none;
  border-radius:30px;
  background:linear-gradient(45deg,red,orange);
  color:white;
  cursor:pointer;
  margin:10px;
}

/* Slider */
.slider img{
  width:260px;
  border-radius:20px;
  margin-top:20px;
}

/* Proposal */
.proposal{
  margin-top:40px;
}
.no{
  background:gray;
}

/* Popup */
#popup{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.85);
  display:none;
  align-items:center;
  justify-content:center;
}

.popup-box{
  background:linear-gradient(135deg,red,orange);
  padding:25px;
  border-radius:20px;
  width:300px;
}

.popup-box img{
  width:120px;
  border-radius:50%;
  border:4px solid white;
}
