
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
  background:black;
  overflow:hidden;
}

/* Background */
.bg{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
  filter:brightness(.35);
  z-index:-1;
}

/* Header */
header{
  text-align:center;
  padding:20px;
  color:white;
  letter-spacing:3px;
}

/* Hero */
.hero{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
  text-align:center;
}

/* Images */
.santa{
  width:260px;
  position:absolute;
  bottom:80px;
  left:-300px;
}

.tree{
  width:220px;
  position:absolute;
  bottom:0;
  right:40px;
}

/* Content */
.content{
  color:white;
}

h1{
  font-family:'Great Vibes',cursive;
  font-size:80px;
  color:#ff3b3b;
  text-shadow:0 0 30px red;
}

p{
  margin:15px 0;
}

input{
  padding:12px;
  border-radius:30px;
  border:none;
  outline:none;
  width:220px;
  text-align:center;
}

button{
  margin-top:15px;
  padding:14px 40px;
  border:none;
  border-radius:40px;
  font-size:16px;
  cursor:pointer;
  background:linear-gradient(45deg,#ff0000,#ff8c00);
  color:white;
  box-shadow:0 0 20px red;
}

/* Fireworks Canvas */
#fireworks{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none;
}
.light{
  background:#fff;
}
.light header,
.light .content{
  color:black;
}
